<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="/template/index.html">
                    <img src="/assets/img/logo.png" alt="Logo" style="width: 120px; height: auto; margin-right: 10px;"> <!-- Ajusta el tamaño del logo aquí -->
                    Todo Libros
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/template/index.html">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Libros
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/template/categorias/novelas.html">Novelas</a></li>
                                <li><a class="dropdown-item" href="/template/categorias/comics-mangas.html">Comics y Mangas</a></li>
                                <br>
                                <li><a class="dropdown-item" href="/template/categorias/literatura.html">Literatura</a></li>
                                <li><a class="dropdown-item" href="/template/categorias/informatica.html">Computación e Informática</a></li>
                                <li><a class="dropdown-item" href="/template/categorias/autoayuda.html">Autoayuda</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/template/contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/template/registro.html">Registro</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-carrito" id="avatarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/assets/img/avatar.png" alt="LoginLogo" width="30" height="30">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end text-center" style="color: white;" aria-labelledby="avatarDropdown">
                                <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" href="/template/login.html">Iniciar sesión</a></li>
                                <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" href="/template/perfil.html">Mi Perfil</a></li>
                                <li><a class="dropdown-item" style="font-size: 15px; color: black !important;" href="/template/index.html" onclick="cerrarSesion()">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown-carrito">
                            <a class="nav-carrito" style="cursor: pointer;">
                                <img src="/assets/img/carro-de-la-compra.png" alt="Carrito" width="30" height="30">
                            </a>
                            <div class="dropdown-content">
                                <div class="carrito-items">
                                    <!-- Aquí se agregarán los productos -->
                                </div>
                                <div class="carrito-total text-center mt-4">
                                    <strong></strong>
                                </div>
                                
                                <button class="btn-limpiar-carrito" onclick="limpiarCarrito()">Limpiar Carrito</button>
                                <button class="btn-ver-carrito" onclick="location.href='/template/metodo-pago.html'">Ir a Pagar</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Formulario de Contacto -->
    <div class="container login">
        <div class="row">
            <div class="col">
                <div class="login-title">Contacto</div>
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 m-4">
                    <form class="formulario-login">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nombres" placeholder="Ingrese nombre" oninput="validarNombres()" required>
                            <label for="floatingInput">Nombre</label>
                        </div>
                        <div class="invalid-feedback" id="invalid-nombres" style="display: none;">
                            Por favor, ingrese un nombre válido.
                        </div>
                        <div class="form-floating mt-3">
                            <input type="email" class="form-control" id="correo" placeholder="name@example.com" oninput="validarCorreo()" required>
                            <label for="floatingInput">Correo Electrónico</label>
                        </div>
                        <div class="invalid-feedback" id="invalid-correo" style="display: none;">
                            Por favor, ingrese un correo electrónico válido (ejemplo: usuario@gmail.com)
                        </div>
                        <div class="form-floating mt-3">
                            <input type="text" class="form-control" id="asunto" placeholder="Ingrese asunto" required>
                            <label for="floatingInput">Asunto</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                                    <textarea class="form-control" id="mensaje" rows="3" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center pt-3">
                            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>


    <footer class="footer">Todos los derechos reservados</footer>


    <script src="/assets/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>